.jmt-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 0;
}

#jmt-shim {
    z-index: 2147483641;
    background: transparent;
    *display: none;
}

#jmt-bg {
    z-index: 2147483642;
    background-color: #F8F8F0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    -webkit-transition: all 150ms ease-out;
}

#jmt-picker {
    z-index: 2147483643;
    text-align: center;
    -webkit-transition: all 150ms ease-out;
    width: 768px;
    height: 820px;
    left: 50%;
    margin-left: -385px;
    background: #FFF;
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    border: 1px solid #EDEDE9;
}

#jmt-picker-header {
    width: 768px;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 0;

    margin-left: -385px;
    background-color: #fff;
}

#jmt-logo {
    width: 75px;
    height: 50px;
    margin: 0 auto;
    background: url(/image/logo2.png) center center no-repeat;
    
}

#jmt-picker-close {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    width: 28px;
    color: #CCC;
    cursor: pointer;
    text-decoration: none;
}

#jmt-picker-close:hover {
    color: #666;
}

#jmt-loading {
    margin: 0 auto;
    height: 120px;
    width: 64px;
    background: url(/image/loading.gif) center center no-repeat;
}

#jmt-picked {
    /*background-color: red;*/
    /*height: 120px;*/
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;

}

#jmt-picker-container {
    margin-top: 202px;
    height: 596px;
    overflow: auto;
}

#jmt-picker .jmt-image-square {
    position: relative;
    display: inline-block;
    width: 236px;
    height: 236px;
    margin: 5px;
    border: 2px solid #EDEDE9;
    text-align: left;
    -webkit-transition: all 200ms ease-out;
    cursor:pointer;
    background: #FFF;
    zoom: 1;
    *display: inline;
}

#jmt-picker .jmt-image-square:hover {
    border-color: #f394a7;
}

#jmt-picker .active {
    border-color: #f394a7;
}

#jmt-picker .jmt-image-square .jmt-btn {
    -webkit-transition: all 150ms ease-out;
    opacity: 0;
}

#jmt-picker .jmt-image-square:hover .jmt-btn {
    opacity: 1;
}

#jmt-picker .jmt-image-square img {
    display: block;
    position: relative;
    background: none;
    -webkit-transition: opacity 150ms ease-out;
}

#jmt-picker .jmt-image-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 18px;
    background: #F8F8FC;
}

#jmt-picker .jmt-btn {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    /*width: 160px;*/
    text-align: center;
    margin: 0 auto;
    color:#333;
    font-size: 14px;
    padding: 4px 12px;

    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding;
    cursor: default;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#jmt-picker .jmt-btn:hover {
    text-shadow: none;
    border-color: #c6c6c6;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: linear-gradient(to bottom, #f8f8f8, #f1f1f1);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#fff1f1f1', GradientType=0);
    background-position: 0 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

#jmt-images-box {
    width: 100%;
    height: 120px;
    overflow-y:hidden; 
    overflow-x: scroll;
}

#jmt-images-box .jmt-images-container { 
    position: relative;
}


#jmt-images-box .jmt-images-container .box {
    float: left;
    height: 116px;
    width: 116px;
    margin-right: 4px;
    border: 2px solid #EDEDE9;
    overflow: hidden;
    cursor: pointer;
} 

#jmt-images-box .jmt-images-container .box.active {
    border-color: #f394a7;
} 


#jmt-images-box .jmt-images-container .box  img {
    display: block;
    position: relative;
    background: none;
}

.jmt-button-boxs {
    height: 30px;
    text-align: center;
}
