.ptb10{padding:10px 0;}
body{overflow:hidden;line-height:1.5;}
a{cursor:pointer;}
.hide{display:none;}
.container{width:100%;height:100%;overflow:hidden;z-index:1000;float:left;min-width:574px;box-shadow:0px 1px 4px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.5);-moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.5);}
.side{overflow:hidden;overflow-y:auto;z-index:999;float:left;height:100%;display:none;}.side .header{position:fixed;width:100%;z-index:99;background-color:#fff;}.side .header .top{height:4px;width:400px;background-color:#f394a7;}
.side .header .info{padding:20px;}.side .header .info a.logout{display:block;height:26px;width:24px;position:absolute;z-index:1000;top:32px;left:356px;background:url("../image/btn-logout.png");}.side .header .info a.logout:hover{background:url("../image/btn-logout-hover.png");}
.side .header .info p{line-height:2;}
.side .header .info img.avatar{float:left;width:64px;height:64px;margin-right:20px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.side .header .info p.name{color:#333333;font-size:20px;}
.side .header .info p.count{color:#333333;font-size:14px;}
.side .header ul.nav{overflow:hidden;padding:20px;padding-top:0px;}.side .header ul.nav li{display:inline;float:left;border:1px solid #c2c2c2;}.side .header ul.nav li:first-child{border-right:none;}
.side .header ul.nav li:last-child{border-left:none;}
.side .header ul.nav li a{height:46px;width:118px;float:left;text-align:center;line-height:46px;font-size:14px;color:#959595;border-bottom:4px solid transparent;}.side .header ul.nav li a:hover{border-color:#f394a7;}
.side .header ul.nav li a.active{border-color:#f394a7;}
.side .content{padding:0 20px;width:360px;margin:auto;margin-top:182px;}.side .content ul.votes{margin-top:8px;}.side .content ul.votes li{border:1px solid #c2c2c2;padding:8px 0;overflow:hidden;}.side .content ul.votes li p.user{line-height:32px;height:32px;font-size:14px;vertical-align:middle;}.side .content ul.votes li p.user>i{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;float:left;height:20px;width:4px;background-color:#f394a7;margin-right:15px;vertical-align:top;}
.side .content ul.votes li p.user img.avatar{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;float:left;width:32px;height:32px;margin-right:20px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.side .content ul.votes li p.user span.name{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;float:left;vertical-align:middle;}
.side .content ul.votes li p.user span.date{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;float:right;margin-right:20px;}
.side .content ul.votes li div.item{background-position:top center;background-repeat:no-repeat;background-attachment:fied;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;float:left;width:64px;height:64px;margin-right:20px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.side .content ul.votes li div.vote{padding:10px 20px;width:auto;}.side .content ul.votes li div.vote p.value{overflow:hidden;zoom:1;color:#f394a7;}
.side .content ul.votes li div.vote div.progress{overflow:hidden;zoom:1;height:18px;background-color:#c2c2c2;margin:12px 0;}.side .content ul.votes li div.vote div.progress div.percent{height:18px;background-color:#f394a7;}
.side .content ul.votes li div.pics{width:100%;margin-top:10px;overflow:hidden;}.side .content ul.votes li div.pics>.item{margin-right:0px;margin-left:20px;-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:grayscale(100%);filter:gray;}.side .content ul.votes li div.pics>.item:first-child{margin-left:0px;}
.fade{display:none;width:100%;height:100%;position:relative;z-index:9999;top:0;left:0;background:-moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));background:-webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);background:-o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);background:-ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);background:radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='00ffffff', endColorstr='#ffffff', GradientType=1);}
.modal{display:none;position:fixed;top:10%;left:50%;z-index:10000;width:640px;margin-left:-320px;background-color:#fff;border:1px solid rgba(0, 0, 0, 0.3);border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;}.modal .modal-header{padding:9px 15px;border-bottom:2px solid #f394a7;}.modal .modal-header h3{text-align:center;line-height:30px;}
.modal .modal-header a.close{float:right;font-size:20px;font-weight:bold;width:20px;height:20px;line-height:20px;color:#f394a7;text-shadow:0 1px 0;margin-top:2px;}.modal .modal-header a.close:hover{opacity:0.8;-moz-opacity:0.8;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);filter:alpha(opacity = 80);}
.modal .modal-body{padding:20px 0;}.modal .modal-body p.tag{font-size:14px;}.modal .modal-body p.tag>i{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;height:20px;width:4px;background-color:#f394a7;margin-right:15px;vertical-align:top;}
.modal .modal-body div.content{margin:15px 0;padding:10px 40px;}.modal .modal-body div.content a.btn-bookmark{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;height:36px;width:128px;text-indent:-999px;background:url("../image/btn-bookmark.png");}
.modal .modal-body div.content i{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;height:36px;width:46px;margin:0 10px;background:url("../image/arrow-1.png") no-repeat center left;}
.modal .modal-body div.content span{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;height:36px;vertical-align:top;line-height:36px;}
.modal .modal-body div.content img.bookmark{margin-top:20px;width:388px;height:126px;}
.modal .modal-body div.content .control-group .control-label{float:left;width:100px;padding-top:5px;text-align:left;vertical-align:middle;}
.modal .modal-body div.content .control-group .controls{margin-left:100px;}.modal .modal-body div.content .control-group .controls input{background-color:#fff;border:1px solid #ccc;height:36px;width:340px;padding:4px 6px;margin-right:10px;font-size:14px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}
.modal .modal-body div.content .control-group .controls a.btn-submit{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;vertical-align:middle;height:36px;line-height:36px;width:64px;background:url("../image/btn-submit.png") center center;}.modal .modal-body div.content .control-group .controls a.btn-submit:hover{opacity:0.8;-moz-opacity:0.8;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);filter:alpha(opacity = 80);}
.modal .modal-body div.content .control-group .controls a.btn-add{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;color:#2f96b4;margin-left:10px;line-height:36px;}.modal .modal-body div.content .control-group .controls a.btn-add:link,.modal .modal-body div.content .control-group .controls a.btn-add:visited{color:#2f96b4;}
.modal .modal-body div.content .control-group .controls a.btn-add:hover,.modal .modal-body div.content .control-group .controls a.btn-add:active{color:#2f96b4;}
#main{background:transparent url("../image/bg.png") top left repeat;height:100%;width:100%;position:relative;}#main #logo{width:194px;height:75px;margin:54px auto 0 auto;background-image:url("../image/logo.png");}
#main #flower{width:100%;height:47px;background-image:url("../image/flower.png");}
#main .slider{position:absolute;left:0;top:0;width:100%;height:100%;}#main .slider .flexslider{margin:0;border:none;background:transparent;height:100%;}#main .slider .flexslider .slides{height:100%;}#main .slider .flexslider .slides li{width:100%;height:100%;float:left;}#main .slider .flexslider .slides li .girds{width:100%;height:100%;}#main .slider .flexslider .slides li .girds .top{position:absolute;top:0;left:0;z-index:1005;width:100%;height:106px;background-color:rgba(0, 0, 0, 0);background-image:-webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));background-image:-moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));background-image:-o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));background-image:-ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));background-image:linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));}#main .slider .flexslider .slides li .girds .top>div{position:relative;padding:10px 40px;}#main .slider .flexslider .slides li .girds .top>div a.info{position:absolute;top:20px;right:40px;height:36px;width:36px;display:block;background-image:url("../image/btn-detail.png");}#main .slider .flexslider .slides li .girds .top>div a.info:hover{background-image:url("../image/btn-detail-hover.png");}
#main .slider .flexslider .slides li .girds .top>div p{line-height:1.8;overflow:hidden;zoom:1;}
#main .slider .flexslider .slides li .girds .top>div img.avatar{float:left;width:64px;height:64px;margin-right:20px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
#main .slider .flexslider .slides li .girds .top>div p.name{color:#ffffff;font-size:20px;}
#main .slider .flexslider .slides li .girds .top>div p.date{color:#ffffff;font-size:14px;}
#main .slider .flexslider .slides li .girds .gird{background-position:top center;background-repeat:no-repeat;background-attachment:fied;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;float:left;cursor:pointer;position:relative;left:0;top:0;}#main .slider .flexslider .slides li .girds .gird .btn-box{display:none;position:absolute;font-size:0;bottom:0;text-align:center;width:100%;height:106px;background-color:rgba(0, 0, 0, 0);background-image:-webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));background-image:-moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));background-image:-o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));background-image:-ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));}#main .slider .flexslider .slides li .girds .gird .btn-box a.buyit,#main .slider .flexslider .slides li .girds .gird .btn-box a.worth,#main .slider .flexslider .slides li .girds .gird .btn-box a.notworth{margin-top:20px;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;height:48px;width:174px;opacity:0.5;-moz-opacity:0.5;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);filter:alpha(opacity = 50);}#main .slider .flexslider .slides li .girds .gird .btn-box a.buyit:hover,#main .slider .flexslider .slides li .girds .gird .btn-box a.worth:hover,#main .slider .flexslider .slides li .girds .gird .btn-box a.notworth:hover{opacity:1;-moz-opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);filter:alpha(opacity = 100);}
#main .slider .flexslider .slides li .girds .gird .btn-box a.buyit{background-image:url("../image/btn-buyit.png");}
#main .slider .flexslider .slides li .girds .gird .btn-box a.worth{background-image:url("../image/btn-worth.png");margin-right:50px;}
#main .slider .flexslider .slides li .girds .gird .btn-box a.notworth{background-image:url("../image/btn-notworth.png");}
#main .slider .flexslider .slides li .girds .gird .fade{z-index:2;}#main .slider .flexslider .slides li .girds .gird .fade.in{opacity:0.5;-moz-opacity:0.5;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);filter:alpha(opacity = 50);}
#main .slider .flexslider .slides li .girds .gird.gird1{width:100%;height:100%;}
#main .slider .flexslider .slides li .girds .gird.gird2{width:50%;height:100%;}
#main .slider .flexslider .slides li .girds .gird.gird31{width:50%;height:100%;}
#main .slider .flexslider .slides li .girds .gird.gird32{width:50%;height:50%;}
#main .slider .flexslider .slides li .girds .gird.gird4{width:25%;height:100%;}
#main .slider .flexslider .slides li .girds .gird.gird51{width:33.333333333333%;height:100%;}
#main .slider .flexslider .slides li .girds .gird.gird52{width:33.333333333333%;height:50%;}
#footer{position:absolute;z-index:1004;bottom:0;height:78px;background-color:#fff9f9;width:100%;}#footer .logo{position:absolute;left:30px;top:26px;height:25px;width:75px;background-image:url("../image/logo2.png");}
#footer #btn-personal{position:absolute;right:30px;top:20px;height:36px;width:117px;background-image:url("../image/btn-personal.png");}#footer #btn-personal:hover{opacity:0.8;-moz-opacity:0.8;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);filter:alpha(opacity = 80);}
#footer #btn-login,#footer #btn-vote{display:block;width:154px;height:36px;margin:auto;margin-top:20px;}#footer #btn-login:hover,#footer #btn-vote:hover{opacity:0.8;-moz-opacity:0.8;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);filter:alpha(opacity = 80);}
#footer #btn-login{background-image:url("../image/btn-login.png");}
#footer #btn-vote{background-image:url("../image/btn-vote.png");}
