@base-url: "..";
@font-color-white: #fff;
@font-color-black:#333;
@font-color-gray: #959595;
@20size: 20px;
@14size: 14px;
@16size:16px;
@color-pink: #f394a7;
@color-gray: #c2c2c2;

.ptb10 {
	padding: 10px 0;
}


.color-a(@color, @hover) {
	color: @color;
	&:link, &:visited {
		color: @color;
	}
	&:hover, &:active {
		color: @hover;
	}
}

.gray(@x: 100%) { 
    	-webkit-filter: grayscale(@x);
    	-moz-filter: grayscale(@x);
    	-ms-filter: grayscale(@x);
    	-o-filter: grayscale(@x);
    	filter: grayscale(@x);
    	filter: gray;
}

.base-background(@x:0, @y: 0, @width: 0, @height: 0) {
	background-color: transparent;
	background-image: url("@{base-url}/image/site.png");
	background-position: @x @y;
	background-repeat: no-repeat;
	width: @width;
	height: @height;
}

.border-radius (@radius: 12px) {
 	border-radius: @radius;
 	-moz-border-radius: @radius;
 	-webkit-border-radius: @radius;
}

.box-shadow(@x: 0, @y: 0, @r: 0, @color) {
	box-shadow: @x @y @r @color;
	-webkit-box-shadow: @x @y @r @color;
	-moz-box-shadow: @x @y @r @color;
}

.background-clip() {
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.inline-block() {
        display: -moz-inline-stack;  
        display: inline-block;       
        zoom: 1;                     
        *display: inline; 
}

.background-cover() {
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fied;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.background-contain() {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fied;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.border-box() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
// -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";

.opacity (@opacity) {
    @opacityPercentage: @opacity * 100;
    opacity: @opacity;
    -moz-opacity:@opacity;
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opacityPercentage})"; 
    filter: ~"alpha(opacity = @{opacityPercentage})";
}

body {
	overflow: hidden;	
 	line-height: 1.5;
 }

 a {
 	cursor: pointer;
 }


.hide {
	display: none;
}

.container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1000;
	float: left;
	min-width: 574px;
	.box-shadow(0px, 1px, 4px, rgba(0,0,0,0.5));
}

.side {
	overflow: hidden;
	overflow-y: auto;
	z-index: 999;
	float: left;
	height: 100%;
	display: none;

	.header {
		position: fixed;
		width: 100%;
		z-index: 99;
		// top:0;
		background-color: #fff;

		.top {
			height: 4px;
			width: 400px;
			background-color: @color-pink;
		}

		.info {
			padding: 20px;
			a.logout {
				display: block;
				height: 26px;
				width: 24px;
				position: absolute;
				z-index: 1000;
				top: 32px;
				left: 356px;
				background: url("@{base-url}/image/btn-logout.png");

				&:hover {
					background: url("@{base-url}/image/btn-logout-hover.png");
				}
			}

			p {
				line-height: 2;
			}
			
			img.avatar {
				float: left;
				width: 64px;
				height: 64px;
				margin-right: 20px;
				.border-radius(4px);
			}
			p.name {
				color: @font-color-black;
				font-size: @20size;
			}

			p.count {
				color: @font-color-black;
				font-size: @14size;
			}
		}

		ul.nav {
			overflow: hidden;
			padding: 20px;
			padding-top: 0px;

			li {
				display: inline;
				float: left;
				border: 1px solid @color-gray;

				&:first-child {
					border-right: none;
				}
				&:last-child {
					border-left: none;
				}

				a {
					height: 46px;
					width: 118px;
					float: left;
					text-align: center;
					line-height: 46px;
					font-size: @14size;
					color: @font-color-gray;

					border-bottom: 4px solid transparent;

					&:hover {
						border-color: @color-pink;
					}

					&.active {
						border-color: @color-pink;
					}
				}
			}
		}	
			
	}
	

	.content {
		padding: 0 20px;
		width: 360px;
		margin: auto;
		margin-top: 182px;

		// overflow-y: scroll;
		ul.votes {
			margin-top: 8px;
			// height: 100%;
			// overflow-y: scroll;

			li {
				border: 1px solid @color-gray;
				padding: 8px 0;
				overflow: hidden;

				p.user {
					line-height: 32px;
					height: 32px;
					font-size: @14size;
					vertical-align: middle;
				
					>i {
						.inline-block();
						float: left;

						height: 20px;
						width: 4px;
						background-color: @color-pink;
						margin-right: 15px;
						vertical-align: top;
					}

					img.avatar {
						.inline-block();
						float: left;

						width: 32px;
						height: 32px;
						margin-right: 20px;
						.border-radius(4px);
					}
					span.name {
						.inline-block();
						float: left;

						vertical-align: middle;
					}

					span.date {
						.inline-block();
						float: right;

						margin-right: 20px;
					}
				}

				div.item {
					.background-cover();
					float: left;
					width: 64px;
					height: 64px;
					margin-right: 20px;
					.border-radius(4px);
				}

				div.vote {	
					padding: 10px 20px;
					width: auto;

					p.value {
						overflow:hidden;
						zoom:1;
						color: @color-pink;
					}

					div.progress {
						overflow:hidden;
						zoom:1;
						height: 18px;
						background-color: @color-gray;
						margin: 12px 0;

						div.percent {
							height: 18px;
							background-color: @color-pink;
						}
					}	
				}

				div.pics {
					width: 100%;
					margin-top: 10px;
					overflow: hidden;

					>.item {
						margin-right: 0px;
						margin-left: 20px;
						.gray();

						&:first-child {
							margin-left: 0px;
						}
					}
				}
			}
		}
	}
}

.fade {
	display: none;
	
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 9999;
	top: 0;
	left: 0;

	
	// background-color: #000000;
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); 
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); 
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='00ffffff', endColorstr='#ffffff',GradientType=1 ); 
}

.modal {
	display: none;

	position: fixed;
	top: 10%;
	left: 50%;
	z-index: 10000;
	width: 640px;
	margin-left: -320px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.3);
	.border-radius(6px);
	// .box-shadow(0, 3px, 7px, rgba(0,0,0,0.3));

	.modal-header {
		padding: 9px 15px;
		border-bottom: 2px solid @color-pink;
		h3 {
			text-align: center;
			line-height: 30px;
		}

		a.close {
			float: right;
			font-size: 20px;
			font-weight: bold;
			width: 20px;
			height: 20px;
			line-height: 20px;
			color: @color-pink;
			text-shadow: 0 1px 0;

			margin-top: 2px;

			&:hover {
				.opacity(0.8);
			}
		}
	}

	.modal-body {
		padding:  20px 0;
		p.tag {
			font-size: @14size;
			>i {
				.inline-block();
				height: 20px;
				width: 4px;
				background-color: @color-pink;
				margin-right: 15px;
				vertical-align: top;
			}
		}

		div.content {
			margin: 15px 0;
			padding: 10px 40px;
			
			a.btn-bookmark {
				.inline-block();
				height: 36px;
				width: 128px;
				text-indent: -999px;
				background: url("@{base-url}/image/btn-bookmark.png");
			}

			i {
				.inline-block();
				height: 36px;
				width: 46px;
				margin: 0 10px;
				background: url("@{base-url}/image/arrow-1.png") no-repeat center left;
			}
			span {
				.inline-block();
				height: 36px;	
				vertical-align: top;
				line-height: 36px;
			}

			img.bookmark {
				margin-top: 20px;
				width: 388px;
				height: 126px;
			}

			.control-group {
				.control-label {
					float: left;
					width: 100px;
					padding-top: 5px;
					text-align: left;
					vertical-align: middle;
				}

				.controls {
					margin-left: 100px;	

					input {
						background-color: #fff;
						border: 1px solid #ccc;
						height: 36px;
						width: 340px;
						padding: 4px 6px;
						margin-right: 10px;
						font-size: 14px;
						.border-radius(4px);

						-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
						-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
						box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
					}

					a.btn-submit {
						.inline-block();
						vertical-align: middle;
						height: 36px;
						line-height: 36px;
						width: 64px;
						background: url("@{base-url}/image/btn-submit.png") center center;

						&:hover {
							.opacity(0.8);
						}
					}

					a.btn-add {
						.inline-block();
						.color-a(#2f96b4, #2f96b4);
						margin-left: 10px;
						line-height: 36px;
					}
				}
			}
		}
		
	}
}

 #main  {
 	background: transparent url("@{base-url}/image/bg.png") top left repeat;
 	height: 100%;
 	width: 100%;
 	position: relative;
 	
 	#logo {
	     width: 194px;
	     height: 75px;
	     margin: 54px auto 0 auto;
	     background-image: url("@{base-url}/image/logo.png");
	 }
	 #flower {
	      width: 100%;
	      height: 47px;
	      background-image: url("@{base-url}/image/flower.png");
	  }

	  .slider {
	  	position: absolute;
	  	// z-index: 1002;
	  	left: 0;
	  	top:0;
	  	width: 100%;
	  	height: 100%;
	  	// z-index: 9999;
	  	// background-color: red;

	  	.flexslider {
	  		margin: 0;
	  		border: none;
	  		background: transparent;

	  		height: 100%;

	  		.slides {
	  			height: 100%;
				li {
	  				width: 100%;
	  				height: 100%;
	  				float: left;
	  				

	  				.girds {
	  					width: 100%;
	  					height: 100%;
	  					
		  				.top {
		  					position: absolute;
		  					top: 0;
		  					left:0;
		  					z-index: 1005;


		  					width: 100%;
	  						height: 106px;
	  						background-color: rgba(0,0,0,0);
	  						background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.6));
	  						background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.6));
	  						background-image: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.6));
	  						background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.6));
	  						background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,.6));

	  						>div {
	  							position: relative;
	  							padding: 10px 40px;

	  							a.info {
	  								position: absolute;
	  								top: 20px;
	  								right: 40px;

	  								height: 36px;
	  								width: 36px;
	  								display: block;
	  								background-image: url("@{base-url}/image/btn-detail.png");

	  								&:hover {
	  									background-image: url("@{base-url}/image/btn-detail-hover.png");
	  								}
	  							}

	  							p {
	  								line-height: 1.8;
	  								overflow:hidden;
	  								zoom:1;
	  							}

	  							img.avatar {
	  								float: left;
	  								width: 64px;
	  								height: 64px;
	  								margin-right: 20px;
	  								.border-radius(4px);
								}
								p.name {
									color: @font-color-white;
									font-size: @20size;
								}

								p.date {
									color: @font-color-white;
									font-size: @14size;
								}
	  						}
		  				}

	  					.gird {
	  						// background-color: #000;
	  						// .background-contain();
	  						.background-cover();
	  						.border-box();
	  						display: block;
	  						float: left;

	  						cursor: pointer;
	  						position: relative;
	  						left: 0;
	  						top: 0;
	  						
	  						.btn-box {
	  							display: none;
	  							position: absolute;
	  							font-size: 0;
	  							bottom: 0;
	  							// padding-bottom: 10px;
	  							text-align: center;

	  							width: 100%;
  								height: 106px;
  								background-color: rgba(0,0,0,0);
  								background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.6));
  								background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.6));
  								background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.6));
  								background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.6));
  								background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.6));

  								a.buyit, a.worth, a.notworth {
	  								margin-top: 20px;

	  								.inline-block();
	  								height: 48px;
	  								width: 174px;
  									
  									.opacity(0.5);

	  								&:hover {
	  									.opacity(1);
	  								}
								}

								a.buyit {
									background-image: url("@{base-url}/image/btn-buyit.png");
								}
								a.worth {
									background-image: url("@{base-url}/image/btn-worth.png");
									margin-right: 50px;
								}
								a.notworth {
									background-image: url("@{base-url}/image/btn-notworth.png");
								}
	  						}

  						.fade {
  							z-index: 2;
  							&.in {
	  							.opacity(0.5);
	  						}

  						}
	  					// 	.fade {
		  				// 		.opacity(0);
		  						
		  				// 		width: 100%;
		  				// 		height: 100%;
		  				// 		position: relative;
		  				// 		top: 0;
		  				// 		left: 0;

		  						
		  				// 		background-color: #000000;
		  				// 		// background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); 
		  				// 		// background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8)));
		  				// 		// background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); 
		  				// 		// background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
		  				// 		// background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
		  				// 		// background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
		  				// 		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='00ffffff', endColorstr='#ffffff',GradientType=1 ); 
								
								// -webkit-transition: opacity 0.15s linear;
		  				// 		-moz-transition: opacity 0.15s linear;
		  				// 		-o-transition: opacity 0.15s linear;
		  				// 		transition: opacity 0.15s linear;

		  				// 		&.in {
		  				// 			.opacity(0.5);
		  				// 		}
		  				// 	}

							&.gird1 {
	  							width: 100%;
	  							height: 100%;
	  						}

	  						&.gird2 {
	  							width: 50%;
	  							height: 100%;
	  						}

	  						&.gird31 {
	  							width: 50%;
	  							height: 100%;
	  						}

	  						&.gird32 {
	  							width: 50%;
	  							height:50%;
	  						}

	  					
	  						&.gird4 {
	  							width: 25%;
	  							height: 100%;
	  						}

							&.gird51 {
	  							width: 33.333333333333%;
	  							height: 100%;
	  						}
	  						&.gird52 {
	  							width: 33.333333333333%;
	  							height: 50%;
	  						}
						}
	  				}
	  			}
	  		}
	  	}
	  }
}
 

 #footer {
     position: absolute;
     z-index: 1004;
     bottom: 0;
     height: 78px;
     background-color: #fff9f9;
     width: 100%;

     .logo {
          position: absolute;
          left: 30px;
          top: 26px;
          height: 25px;
          width: 75px;
          background-image: url("@{base-url}/image/logo2.png");
      }

      #btn-personal {
      	position: absolute;
          right:30px;
          top: 20px;
          height: 36px;
          width: 117px;
          background-image: url("@{base-url}/image/btn-personal.png");

          &:hover {
           	.opacity(0.8);
           }
      }

      #btn-login, #btn-vote {
           display: block;
           width: 154px;
           height: 36px;
           margin: auto;
           margin-top: 20px;
           &:hover {
           	.opacity(0.8);
           }
       }

       #btn-login {
       	background-image: url("@{base-url}/image/btn-login.png");       
       }

       #btn-vote {
       	background-image: url("@{base-url}/image/btn-vote.png");       
       }
 }


