        <script src="../js/login.js"></script>
                <div id="main">
                        <div id="flower"></div>
                        <div id="logo">
                        </div>
                </div>
                <div id="footer">
                        <div class="logo"></div>
                        <a  id="btn-login" href="/auth" title=""></a>
                </div>
