        
        <link rel="stylesheet" type="text/css" href="css/flexslider.css" media="all">
        <script src="../js/index.js"></script>
        <div class="container pos-r">
                <div id="main">
                        <div id="flower"></div>
                        <div class="slider">
                                <div id="carousel" class="flexslider">
                                    <ul id="all-topics" class="slides">
                                    </ul>
                                </div>
                        </div>
                </div>
                <div id="footer">
                        <div class="logo"></div>
                        <a  id="btn-vote"  title=""></a>
                        <a  id="btn-personal" title=""></a>
                </div>
        </div>
        <div id="side" class="side pos-r">
                <div class="header">
                            <div class="top"></div>
                            <div class="info">
                                <a class="logout" title=""></a>
                                  <img class="avatar" src="<%= @user.avatar %>"></img>
                                  <p class="name"><%= @user.name %></p>
                                  <p class="date">共发起了<%= @user.topics.count %>个投票</p>     
                            </div>
                            <ul class="nav">
                                    <li>
                                            <a class="active" title="">我发起的</a>
                                    </li>
                                    <li>
                                            <a title="">我参与的</a>
                                    </li>
                                    <li>
                                            <a title="">收到的邀请</a>
                                    </li>
                            </ul>
                </div>
                <div class="content">
                        <ul id="my" class="votes">
                               <!--  <li>    
                                       <p class="user">
                                            <i></i><span class="date">45分钟前</span>
                                        </p>
                                        <div class="vote">
                                                <div class="item" style="background-image: url(../image/1.png)"></div>
                                                <div class="progress">
                                                        <div class="percent" style="width: 70%;"></div>
                                                </div>
                                                <p class="value">70%的人选择了这个</p> 
                                                <div class="pics">
                                                        <div class="item fl" style="background-image: url(../image/2.png)"></div>
                                                        <div class="item fl" style="background-image: url(../image/3.png)"></div>
                                                        <div class="item fl" style="background-image: url(../image/4.png)"></div>
                                                        <div class="item fl" style="background-image: url(../image/1.png)"></div>
                                                </div>
                                        </div>
                                </li>
                                 <li>    
                                        <p class="user">
                                            <i></i><span class="date">45分钟前</span>
                                        </p>
                                        <div class="vote">
                                                <div class="item" style="background-image: url(../image/1.png)"></div>
                                                <div class="progress">
                                                        <div class="percent" style="width: 28%;"></div>
                                                </div>
                                                <p class="value">28%的人选择了值得买</p> 
                                        </div>
                                </li>
                                <li>    
                                        <p class="user">
                                            <i></i><span class="date">45分钟前</span>
                                        </p>
                                        <div class="vote">
                                                <div class="item" style="background-image: url(../image/1.png)"></div>
                                                <div class="progress">
                                                        <div class="percent" style="width: 64%;"></div>
                                                </div>
                                                <p class="value">64%的人选择了这个</p> 
                                                <div class="pics">
                                                        <div class="item fl" style="background-image: url(../image/2.png)"></div>
                                                        <div class="item fl" style="background-image: url(../image/3.png)"></div>
                                                        <div class="item fl" style="background-image: url(../image/4.png)"></div>
                                                        <div class="item fl" style="background-image: url(../image/1.png)"></div>
                                                </div>
                                        </div>
                                </li>
                                <li>    
                                        <p class="user">
                                            <i></i><span class="date">45分钟前</span>
                                        </p>
                                        <div class="vote">
                                                <div class="item" style="background-image: url(../image/1.png)"></div>
                                                <div class="progress">
                                                        <div class="percent" style="width: 35%;"></div>
                                                </div>
                                                <p class="value">35%的人选择了这个</p> 
                                                <div class="pics">
                                                        <div class="item fl" style="background-image: url(../image/2.png)"></div>
                                                        <div class="item fl" style="background-image: url(../image/3.png)"></div>
                                                        <div class="item fl" style="background-image: url(../image/4.png)"></div>
                                                        <div class="item fl" style="background-image: url(../image/1.png)"></div>
                                                </div>
                                        </div>
                                </li> -->
                        </ul>
                        <ul id="join" class="votes hide">
                                  <li>    
                                        <p class="user">
                                            <i></i>
                                            <img class="avatar" src="http://tp2.sinaimg.cn/1310915297/180/5631715459/0"></img>
                                            <span class="name">悠悠冰宝</span>
                                            <span class="date">45分钟前</span>
                                        </p>
                                        <div class="vote">
                                                <div class="item" style="background-image: url(../image/1.png)"></div>
                                                <div class="progress">
                                                        <div class="percent" style="width: 70%;"></div>
                                                </div>
                                                <p class="value">70%的人选择了这个</p> 
                                                <div class="pics">
                                                        <div class="item fl" style="background-image: url(../image/2.png)"></div>
                                                        <div class="item fl" style="background-image: url(../image/3.png)"></div>
                                                        <div class="item fl" style="background-image: url(../image/4.png)"></div>
                                                        <div class="item fl" style="background-image: url(../image/1.png)"></div>
                                                </div>
                                        </div>
                                </li>
                                 <li>    
                                        <p class="user">
                                            <i></i>
                                            <img class="avatar" src="http://tp2.sinaimg.cn/1310915297/180/5631715459/0"></img>
                                            <span class="name">悠悠冰宝</span>
                                            <span class="date">45分钟前</span>
                                        </p>
                                        <div class="vote">
                                                <div class="item" style="background-image: url(../image/1.png)"></div>
                                                <div class="progress">
                                                        <div class="percent" style="width: 28%;"></div>
                                                </div>
                                                <p class="value">28%的人选择了值得买</p> 
                                        </div>
                                </li>
                        </ul>
                </div>
        </div>
        <div id="vote-modal" class="modal">
            <div class="modal-header">
                <a class="close">&times;</a>
                <h3>
                    发起投票
                </h3>
            </div>
            <div class="modal-body">
                    <p class="tag">
                        <i></i><span>您可以使用我们的快速采集工具</span>
                    </p>
                    <div class="content">
                        <a class="btn-bookmark" href="javascript:(function(){var head=document.getElementsByTagName('head')[0],script=document.createElement('script');script.type='text/javascript';script.src='http://t.bridge21.info/js/clipperBookmarklet.js?' + Math.floor(Math.random()*99999);head.appendChild(script);})();" onclick="alert('请把采集工具拖到浏览器书签栏使用!');return false;" title="">采集到姐妹淘</a>
                        <i></i>
                        <span>把这个按钮拖放到浏览器的书签栏上</span>
                        <img  class="bookmark" src="../image/bookmark.png">
                    </div>
                    <p class="tag">
                        <i></i><span>您还可以</span>
                    </p>
                    <div class="content">
                        <div class="control-group">
                            <label class="control-label">你还可以</label>
                            <div class="controls">
                              <input type="text" placeholder="把商品的网址粘贴在这里">
                              <a class="btn-submit" title="采集到姐妹淘"></a>
                              <!-- <a class="btn-add" title="">添加</a> -->
                            </div>
                          </div>
                    </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>

        <script type="text/template" id="topic-item-template">
        <div class="girds">
                <div class="top">
                        <div>
                                <img class="avatar" src="[%-user.avatar%]"></img>
                                <p class="name">[%-user.name%]</p>
                                <p class="date">在 [%-create_time%] 发起了投票</p>    
                                <a class="info" title="点击查看详细"></a>             
                        </div>
                </div>
                [% if (items.length == 1 ) { %]
                     <div class="gird gird1" style="background-image: url([%-items[0].image%])">
                                <div class="fade"></div>
                                          <div class="btn-box">
                                                    <a  class="worth" title=""></a>
                                                    <a  class="notworth" title=""></a>
                               </div>
                     </div>
                [% } %]
                [% if (items.length == 2 ) { %]
                                [%_.each(items, function(item) {%]
                                    <div class="gird gird2" style="background-image: url([%-item.image%])">
                                                <div class="fade"></div>
                                                          <div class="btn-box">
                                                                    <a  class="buyit" title=""></a>
                                                          </div>
                                               
                                     </div>
                                [%})%]
                [% } %]
                [% if (items.length == 3 ) { %]
                    [%_.each(items, function(item, index) {%]
                        <div class="gird gird51" style="background-image: url([%-item.image%])">
                                    <div class="fade"></div>
                                              <div class="btn-box">
                                                        <a  class="buyit" title=""></a>
                                              </div>
                                   
                         </div>
                    [%})%]
                [% } %]
                [% if (items.length == 4 ) { %]
                    [%_.each(items, function(item, index) {%]
                        <div class="gird gird4" style="background-image: url([%-item.image%])">
                                    <div class="fade"></div>
                                              <div class="btn-box">
                                                        <a  class="buyit" title=""></a>
                                              </div>
                                   
                         </div>
                    [%})%]
                [% } %]
                [% if (items.length == 5 ) { %]
                    [%_.each(items, function(item, index) {%]
                        <div class="gird [%=index == 0? 'gird51' : 'gird52'%]" style="background-image: url([%-item.image%])">
                                    <div class="fade"></div>
                                              <div class="btn-box">
                                                        <a  class="buyit" title=""></a>
                                              </div>
                                   
                         </div>
                    [%})%]
                [% } %]
                 [% if (items.length == 6 ) { %]
                    [%_.each(items, function(item, index) {%]
                        <div class="gird gird52" style="background-image: url([%-item.image%])">
                                    <div class="fade"></div>
                                              <div class="btn-box">
                                                       <a  class="buyit" title=""></a>
                                              </div>
                                   
                         </div>
                    [%})%]
                [% } %]
        </script>
        <script type="text/template" id="my-topic-item-template">
            <p class="user">
                <i></i>
                [% if (user) { %]
                    <img class="avatar" src="[%-user.avatar%]"></img>
                    <span class="name">[%-user.name%]</span>
                [% } %]
                <span class="date"> [%-create_time%]</span>
            </p>
            <div class="vote">
                    <div class="item" style="background-image: url([%-items[0].image%])"></div>
                    <div class="progress">
                            <div class="percent" style="width:[%-(items[0].yes  / counts * 100).toFixed(2)%]%"></div>
                    </div>
                    <p class="value">[%-(items[0].yes  / counts * 100).toFixed(2)%]%
                    的人选择了这个</p> 
                    <div class="pics">
                            <div class="item fl" style="background-image: url(../image/2.png)"></div>
                            <div class="item fl" style="background-image: url(../image/3.png)"></div>
                            <div class="item fl" style="background-image: url(../image/4.png)"></div>
                            <div class="item fl" style="background-image: url(../image/1.png)"></div>
                    </div>
            </div>
        </script>





