<!DOCTYPE html>
<html>
<head>
  <title>Jiemeitao</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="application-name" content="" />
	<meta name="msapplication-tooltip" content="" />
	<meta name="msapplication-window" content="width=1024;height=768" />
	<meta name="msapplication-starturl" content="/" />
	<meta http-equiv="X-UA-Compatible" content="IE=100">
	<link rel="shortcut icon" href="">
	<link rel="stylesheet" type="text/css" href="../css/base.css" media="all">
	<link rel="stylesheet" type="text/css" href="../css/site.css" media="all">
	<script src="../js/libs/require.js"></script>
	<script src="../js/mockdata.js"></script>
	<script src="../js/settings.js"></script>

</head>
<body>

<%= yield %>

</body>
</html>
